
.search{
    &-form{
        margin-bottom: 40px;

        &__block{
            position: relative;
        }
    }

    &__input{
        box-sizing: border-box;
        width: 100%;
        background: none;
        border: 1px solid #D7D8D9;
        border-radius: 4px;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #22252E;
        padding: 15px 0 15px 60px;
    }

    &__icon{
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
    }
}

